:root {
  --main-font: "Montserrat", sans-serif;
}

div .container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div .item {
  width: 506px;
  height: 333px;
  background-color: #222831;
  border-radius: 25px;
}
div .col1 {
  border-radius: 30px;
  /* background-image: url("./Rectangle.png"); */
  background: linear-gradient(
      136deg,
      rgba(136, 235, 239, 0.9) 0%,
      rgba(83, 91, 230, 0.9) 100%
    ),
    url("../src/beach100.png");
}
ul {
  list-style-type: none;
}
ul > li {
  position: relative;
  left: -20px;
}
.day {
  margin-top: 25px;
  margin-left: 13px;
  color: #fff;
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.date,
.hour {
  color: #fff;
  margin-top: 5px;

  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.city {
  margin-top: 5px;
  color: #fff;
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.icon {
  margin-top: 95px;
}
.temp {
  margin-top: 5px;
  margin-left: -20px;
  color: #fff;
  font-family: var(--main-font);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.weather {
  color: #fff;
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div .details {
  padding: 10px;
  margin-top: 25px;
  color: #fff;
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
div .api {
  padding: 10px;
  margin-top: 25px;
  color: #fff;
  text-align: right;
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
div .forecast {
  display: block;
  margin: 0 auto;
  display: flex;
  /* background-color: #272e37; */
  justify-content: center;
  border-radius: 12px;
  margin-top: 5px;
  width: 200px;
}

.forecast-block {
  font-family: var(--main-font);

  text-align: center;
  background-color: #272e37;
  border-radius: 5px;
  width: 50px;
  height: 100px;
  box-shadow: 1px 2px 4px 0px #222831;
  font-style: normal;
}
.day1 {
  background-color: #fff;
}
div .forecast-days {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.forecast-day {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
.forecast-temps,
.forecast-temp {
  color: #fff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.forecast-temp {
  color: #000;
}
.forecast-icon {
  text-align: center;
  margin-bottom: 0px;
  padding: 5px;
}
.location {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.search {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    131deg,
    rgba(144, 217, 224, 0.9) 0%,
    rgba(84, 96, 230, 0.9) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-input {
  width: 160px;
  height: 25px;
  color: #000;
  text-align: center;
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="search"]:focus {
  outline: rgba(144, 217, 224, 0.9) solid 2px;
  border-radius: 2px;
}

.submit {
  font-size: 12px;
  height: 25px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}
.bi-search {
  color: #fff;
  padding: 1px;
}
.search-form {
  display: flex;
  justify-content: space-between;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:link {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  transition: ease-in-out 1ms;
}

@media (max-width: 768px) {
  div .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  div .item {
    width: 300px;
    height: 610px;
  }
  .api ul {
    margin-bottom: 0;
  }
  div .details {
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .details ul {
    margin-bottom: 0;
  }
  div .api {
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .forecast-block {
    margin: 0;
    width: 50px;
    height: 100px;
  }
  .search {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 25px;
  }

  .day {
    font-size: 25px;
  }
  .date,
  .hour {
    font-size: 18px;
  }
  .city {
    font-size: 20px;
  }
}
